*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

html,
body {
  font-size: 62.5%;
}

body {
  background: url("../img/background.jpg") no-repeat;
}

.container {
  width: 113.5rem;
  margin: 0 auto;
}

/* --------- Header -------- */

.header {
  display: flex;
  padding-top: 6.4rem;
  padding-bottom: 9.5rem;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 7.9rem;
  height: 2.8rem;
  margin-right: 3.9rem;
}

.header__nav a:not(:last-child) {
  margin-right: 2.4rem;
}

.header__nav a {
  color: #ffffff;
  text-decoration: none;
}

.header__socials-icon {
  width: 1.7rem;
  height: 1.6rem;
}

.header__socials-icon:not(:last-child) {
  margin-right: 2rem;
}

/* --------- Footer -------- */

.footer {
  background-color: #030102;
  color: #ffffff;
  padding: 2rem 0;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__menu {
  padding-left: 0;
  display: flex;
  color: #ffffff;
}

.footer__menu li {
  list-style: none;
}

.footer__menu li:not(:last-child) {
  margin-right: 2.5rem;
}

.footer__menu li a {
  color: #ffffff;
  text-decoration: none;
}
